<!-- Footer -->
<footer class='text-center text-lg-start bg-dark text-light pt-4 w-100'>
  <div class='container'>
    <!-- Section: Links  -->
    <!-- Grid row -->
    <div class='row mt-3'>
      <!-- Grid column -->
      <div class='col-md-6 col-lg-6 col-xl-6 mx-auto mb-4'>
        <!-- Content -->
        <h6 class='text-uppercase fw-bold mb-4'>
          <i class='fas fa-gem me-3'></i>moto
        </h6>
        <p>
          This project is part of a series where I try to harness my skills as a
          backend web developer.
        </p>
      </div>

      <!-- Grid column -->
      <div class='col-md-6 col-lg-6 col-xl-6 mx-auto mb-4'>
        <h6 class='text-uppercase fw-bold mb-4 text-center mb-2'>Follow Me</h6>
        <ul class='list-unstyled d-flex flex-row justify-content-center'>
          <li class='me-3'>
            <a href='https://x.com/5ater_7' target='_blank' class='text-light'>
              <i class='fab fa-twitter fa-2x'></i>
            </a>
          </li>
          <li class='me-3'>
            <a
              href='mailto:mohamedsocial555@gmail.com'
              target='_blank'
              class='text-light'
            >
              <i class='fab fa-google fa-2x'></i>
            </a>
          </li>
          <li class='me-3'>
            <a
              href='https://www.linkedin.com/in/mohamed-osama-55209435a/'
              target='_blank'
              class='text-light'
            >
              <i class='fab fa-linkedin fa-2x'></i>
            </a>
          </li>
          <li>
            <a
              href='https://github.com/da5ater'
              target='_blank'
              class='text-light'
            >
              <i class='fab fa-github fa-2x'></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div
    class='text-center p-4 border-top'
    style='background-color: rgba(0, 0, 0, 0.05)'
  >
    © 2025 made by mohamed with love ❤️
  </div>
</footer>
<!-- Footer -->