doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
    body 
        block content
        footer
            p © 2023 My Website
            p Follow us on 
                a(href="https://x.com/5ater_7", target="_blank") Twitter
                | , 
                a(href="https://github.com/da5ater", target="_blank") GitHub
                | ,
                a(href="https://www.linkedin.com/in/mohamed-osama-55209435a/", target="_blank") LinkedIn
            p Contact us at
                a(href="mailto:mohamedsocial555@gmail.com") mohamedsocial555@gmail.com

        script(src="/js/script.js")