@font-face {
  font-family: 'TwitterChirp';
  src: url('../../fonts/Chirp Regular.woff') format('woff'),
    url('../../fonts/Chirp Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TwitterChirp';
  src: url('../../fonts/Chirp Medium.woff') format('woff'),
    url('../../fonts/Chirp Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TwitterChirp';
  src: url('../../fonts/Chirp Bold.woff') format('woff'),
    url('../../fonts/Chirp Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TwitterChirp';
  src: url('../../fonts/Chirp Heavy.woff') format('woff'),
    url('../../fonts/Chirp Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
