<body>

  <div class='login-page-container'>
    <main class='login'>
      <!-- Left side: Promotional logo -->
      <div class='login__promo'>
        <img class='login__promo-logo' src='/images/x-logo.png' alt='X Logo' />
      </div>

      <!-- Right side: Sign-up and Sign-in form -->
      <div class='login__form'>
        <h1 class='login__title'>Happening now</h1>
        <h2 class='login__subtitle'>Join today.</h2>

        <!-- Sign up options -->
        {{! <div class='login__options'>
        <button class='login__button login__button--google'>
          <img class='login__button-icon' src='/images/google-logo.png' alt='Google' />
          <span class='login__button-text'>Sign up with Google</span>
        </button>
        <button class='login__button login__button--apple'>
          <img class='login__button-icon login__button-icon--apple' src='/images/apple-logo.png' alt='Apple' />
          <span class='login__button-text'>Sign up with Apple</span>
        </button>
      </div> }}

        <div class='login__separator'>
          <hr class='login__separator-line' />
          <span class='login__separator-text'>or</span>
          <hr class='login__separator-line' />
        </div>

        <button
          class='login__button login__button--create'
          id='createAccountBtn'
        >
          <span class='login__button-text login__button-text--light'>Create
            Account</span>
        </button>

        <p class='login__legal'>
          By signing up, you agree to the
          <a href='#' class='login__legal-link'>Terms of Service</a>
          and
          <a href='#' class='login__legal-link'>Privacy Policy</a>, including
          <a href='#' class='login__legal-link'>Cookie use.</a>
        </p>

        <div class='login__separator'>
          <hr class='login__separator-line' />
          <span class='login__separator-text'>or</span>
          <hr class='login__separator-line' />
        </div>

        <!-- Sign in section -->
        <div class='login__signin'>
          <h3 class='login__signin-title text-light'>Already have an account?</h3>
          <button
            class='login__button login__button--signin'
            onclick="window.location.href='/auth/login'"
          >
            <span class='login__button-text login__button-text--primary'>Sign in</span>
          </button>
        </div>
      </div>
    </main>
  </div>

  {{> signup-modal}}

  {{> footer}}




</body>
